<head>
    <title>Parent</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://surveyjs.azureedge.net/1.0.68/survey.css" type="text/css" rel="stylesheet"/>
    
</head>
<div class="survey-container contentcontainer codecontainer"><div id="surveyElement"></div></div>
<div id="surveyResult" (click)="surveyChanged()"></div>